@font-face {
    font-family: "iconfont"; /* Project id 3928252 */
    src: url('iconfont.woff2?t=1701616831575') format('woff2'), url('iconfont.woff?t=1701616831575') format('woff'), url('iconfont.ttf?t=1701616831575') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fangxiangyuan-xiangshang:before {
    content: "\e61a";
}

.icon-fangxiangyuan-xiangxia:before {
    content: "\e61d";
}

.icon-fangxiangyuan-xiangyou:before {
    content: "\e61e";
}

.icon-fangxiangyuan-xiangzuo:before {
    content: "\e620";
}

.icon-fangxiang-xiangxia:before {
    content: "\e615";
}

.icon-fangxiang-xiangshang:before {
    content: "\e617";
}

.icon-fangxiang-xiangzuo:before {
    content: "\e618";
}

.icon-fangxiang-xiangyou:before {
    content: "\e619";
}

.icon-caozuo-wendu:before {
    content: "\e626";
}

.icon-paizhao-xianxing:before {
    content: "\e8d1";
}

.icon-tingzhi:before {
    content: "\e611";
}

.icon-yunhang:before {
    content: "\e612";
}

.icon-cz-dy:before {
    content: "\e738";
}

.icon-caozuorizhi:before {
    content: "\e664";
}

.icon-qigang:before {
    content: "\e616";
}

.icon-sifudianji:before {
    content: "\e609";
}

.icon-tongji:before {
    content: "\e64a";
}

.icon-tongji1:before {
    content: "\e878";
}

.icon-tongji2:before {
    content: "\e66b";
}

.icon-yibiaopan:before {
    content: "\eab4";
}

.icon-fuwu:before {
    content: "\e6d8";
}

.icon-gongju:before {
    content: "\e614";
}

.icon-wangluoxitong:before {
    content: "\e62e";
}

.icon-guanliyuan:before {
    content: "\e62a";
}

.icon-weiwangguanicon-defuben-:before {
    content: "\e678";
}

.icon-jilu:before {
    content: "\e604";
}

.icon-gaojing:before {
    content: "\ec35";
}

.icon-lishijilu:before {
    content: "\e605";
}

.icon-zixunjilu:before {
    content: "\e68c";
}

.icon-jilu1:before {
    content: "\e75b";
}

.icon-gaojingjilu:before {
    content: "\e66a";
}

.icon-gaojing1:before {
    content: "\e61f";
}

.icon-quanxian1:before {
    content: "\e610";
}

.icon-history:before {
    content: "\ea10";
}

.icon-quanxianguanli:before {
    content: "\e64c";
}

.icon-zhuanhuan:before {
    content: "\e61b";
}

.icon-fuwuqi:before {
    content: "\e687";
}

.icon-peifangfangan:before {
    content: "\e681";
}

.icon-quanxianguanli1:before {
    content: "\e61c";
}

.icon-xitongquanxian:before {
    content: "\e665";
}

.icon-quanxian:before {
    content: "\e603";
}

.icon-peizhi:before {
    content: "\e659";
}

.icon-chaxun:before {
    content: "\e660";
}

.icon-zhuye:before {
    content: "\e622";
}

.icon-guanbi2:before {
    content: "\eca0";
}

.icon-zuixiaohua:before {
    content: "\e650";
}

.icon-caidan:before {
    content: "\e790";
}

.icon-zuidahua2:before {
    content: "\e623";
}

.icon-shezhi:before {
    content: "\e8b8";
}

.icon-tiaoshi:before {
    content: "\eb61";
}

.icon-bianji:before {
    content: "\eb62";
}

.icon-jinggao:before {
    content: "\eb65";
}

.icon-renjijiaohu:before {
    content: "\eb67";
}

.icon-shiyongwendang:before {
    content: "\eb68";
}

.icon-shujukanban:before {
    content: "\eb6b";
}

.icon-zhanghaoquanxianguanli:before {
    content: "\eb6e";
}

.icon-yuanquyunwei:before {
    content: "\eb6f";
}

.icon-guanbi:before {
    content: "\eb70";
}

.icon-zidingyi:before {
    content: "\eb71";
}

.icon-icon_loading:before {
    content: "\eb80";
}

.icon-tubiao-zhuzhuangtu:before {
    content: "\eb96";
}

.icon-xingzhuang-tupian:before {
    content: "\eb98";
}

.icon-zuzhiqunzu:before {
    content: "\ebd8";
}

.icon-dakai:before {
    content: "\ebdf";
}

.icon-kongjianyixuan:before {
    content: "\ebf0";
}

.icon-shuaxin:before {
    content: "\ec08";
}

.icon-sousuofangda:before {
    content: "\ec32";
}

.icon-zuidahua_huaban1:before {
    content: "\e673";
}